<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.techwitz.matchymatch"
    >
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:debuggable="false"
        tools:ignore="HardcodedDebugMode"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_matchymatch_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_matchymatch_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".WebViewActivity" android:theme="@style/WebViewTheme"/>

        <activity
            android:exported="false"
            android:name=".MainPuzzleActivity"
            android:screenOrientation="landscape" /> <!-- <provider -->
        <!-- android:name="com.techwitz.matchymatch.Utils.CustomContentProvider" -->
        <!-- android:authorities="com.techwitz.matchymatch" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CustomMainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CustomMainPuzzleActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ParrotActivity"
            android:screenOrientation="landscape" /> <!-- Declare  Alarm Sound Service here -->
        <activity
            android:name=".CustomMainPuzzlePlayActivity"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1357509405803171~8269689957" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d7d93dff82aa5c8f7d67109ca10705b0aa0d76c0" />
<!--        <provider-->
<!--            android:name="androidx.core.content.FileProvider"-->
<!--            android:authorities="com.techwitz.matchymatch.provider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/file_provider_paths" />-->
<!--        </provider>-->
        <service
            android:name=".Utils.AlarmSoundService"
            android:stopWithTask="true" />
    </application>



</manifest>